.env
.env.*
!.env.example

.vscode/*

node_modules/
.next/
out/
dist/
build/
.vercel/
.turbo/

apps/web/node_modules/
apps/web/.next/
apps/web/out/
apps/web/dist/

*.exe
*.exe~
*.test
*.out

apps/api/tmp/
apps/api/bin/

tmp/

postgres_data/
pgdata/
*.db